:root {
  --bg:                     #080808;
  --fg:                     #b2b2b2;
  --bold:                   #eeeeee;
  --cursor:                 #9e9e9e;
  --cursor-txt:             #080808;
  --sel:                    #b2ceee;
  --sel-txt:                #080808;

  --black-light:            #949494;
  --black:                  #323437;
  --blue-light:             #74b2ff;
  --blue:                   #80a0ff;
  --cyan-light:             #85dc85;
  --cyan:                   #79dac8;
  --green-light:            #36c692;
  --green:                  #8cc85f;
  --purple-light:           #ae81ff;
  --purple:                 #cf87e8;
  --red-light:              #ff5189;
  --red:                    #ff5454;
  --white-light:            #e4e4e4;
  --white:                  #c6c6c6;
  --yellow-light:           #c2c292;
  --yellow:                 #e3c78a;

  --accent-color:           var(--purple-light);
  --tab-color:              var(--bg);
  --tab-text-color:         var(--fg);
  --secondary-accent-color: var(--purple);
  --secondary-tab-color:    var(--red);
  --secondary-tab-text-color: var(--fg);
  --url-bg:                 var(--black);
}

#TabsToolbar >  .titlebar-buttonbox-container {
  visibility: collapse !important;
}

:root {
  --navbarWidth:  40vw;
  --animationSpeed: 0.5s;
}

#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
  background-color:var(--red);
}

#urlbar-container {
  min-width   : 0px !important;
  background-color: var(--bg) !important;
}

:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}

/* URL dropdown*/
.urlbarView-title {
  color: var(--white) !important;
}
.urlbarView {
  background-color: var(--bg) !important;
}
.urlbarView-url {
  color: var(--fg) !important;
}

/* //URL dropdown*/

/* Back Hide */
#back-button[disabled="true"] { display: none !important }

/* Forward Hide */
#forward-button[disabled="true"] { display: none !important }

/* Site information button */
#identity-box { display: none !important }

/* "Shield" icon */
#tracking-protection-icon-container { display: none !important }

#nav-bar {
  background  : var(--bg) !important;
  box-shadow  : none !important;
}

#navigator-toolbox {
  border      : none !important;
}

.titlebar-spacer {
  display     : none !important;
}

#urlbar-background {
  border      : var(--bg) !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : var(--black) !important;
}


/* Element Hiding stuff */

.urlbar-icon, #userContext-indicator, #userContext-label {
  fill        : transparent !important;
  background  : transparent !important;
  color       : transparent !important;
}

#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon,
#urlbar[focused] .urlbar-icon {
  fill        : var(--yellow) !important;
}

/*================== TABS BAR ==================*/

#titlebar #TabsToolbar {
  background: var(--bg) !important;
}


#PersonalToolbar {
  background: var(--black) !important;
  color: var(--black-light) !important;
  padding-bottom: 6px !important;
  padding-top: 1px !important;
}

toolbar#nav-bar {
  background: var(--bg) !important;
  box-shadow: none !important;
  padding-bottom: 4px !important;
}

/*================ DARK THEME ================*/
:root:-moz-lwtheme-brighttext,
.sidebar-panel[lwt-sidebar-brighttext],
body[lwt-sidebar-brighttext] {
	--main-bgcolor: var(--bg);
	--transparent-bgcolor: var(--bg);
}

tab[selected="true"] .tab-content {
  color: var(--secondary-accent-color) !important;
}

tab[selected="true"] .tab-background {
  background: var(--accent-color) !important;
}
.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
  transition: all 0.3s ease !important;
}

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
  background-color: var(--bg) !important;
}

.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 5px !important;
}

.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: rgba(var(--red), 1) !important;
}

tab[selected="true"] .tab-content {
  color: var(--accent-color) !important;
}

tab[selected="true"] .tab-background {
  background: var(--accent-color) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}

.tab-close-button {
  transition: all 0.3s ease !important;
  border-radius: 4px !important;
}

.tabbrowser-tab .tab-label  { color: var(--fg) !important; }
.tabbrowser-tab[selected="true"] .tab-label  { color: var(--bg) !important; }
.tab-close-button { fill: var(--fg) !important }
